.menuWrapper {
    position: absolute;
    top: 109%;

    padding: 20px 14px;

    background: #363636;
    border-radius: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.anker {
    font-size: 40px;
    line-height: 40px;
}