.button {
    font-size: 30px;
    padding: 8px 25px;

    background: #549B3F;
    border-radius: 12px;
    border: none;

    transition: filter .1s linear;
}

.button:hover {
    filter: brightness(110%);
}