@font-face {
    font-family: "Minecraft 1.1";
    src: url("../fonts/minecraft-1-1.woff") format("woff");
    src: url("../fonts/minecraft-1-1.woff2") format("woff2");
}

:root {
    --grey-9f: #9F9F9F;
    --red: #D34242;
    --yellow: #FFB833;
    --light-green: #6DC752;
    --dark-green: #417233;
    --light-blue: #6699FF;
    --dark-blue: #354F90;
    --greened-blue: #00778F;
    --black-24: #242424;
    --black-1e: #1E1E1E;
    --black-11: #111112;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Minecraft 1.1", serif;
    color: #FFFFFF;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    min-width: 1920px;
    background-color: var(--black-1e);
}

.container {
    margin-left: 150px;
    margin-right: 150px;
}

.heading2 {
    font-size: 40px;
    font-weight: normal;
    color: #FFFFFF;
}

#element::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}