@font-face {
    font-family: "Minecraft 1.1";
    src: url("../fonts/minecraft-1-1.woff") format("woff");
    src: url("../fonts/minecraft-1-1.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Minecraft 1.1", serif;
    color: #FFFFFF;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    min-width: 1920px;
    background-color: #1E1E1E;
}

.container {
    margin-left: 150px;
    margin-right: 150px;
}

#element::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}