.shulkerInfo {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.shulkerBuild {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.middleController {
    display: flex;
    flex-direction: column;
    gap: 20px;
}